body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 200px;
    border-radius: 10px;
}
